@using System.Globalization
@model AlgoLoan.Models.ProviderViewModel
@{
    ViewBag.Title = "Loan repayment Details";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 top-pad2">

            <dl class="dl-horizontal">
                <dt class="bold-black"><strong>Company Name:</strong></dt>
                <dd> @Model.name</dd>
                <br />
                <dt class="bold-black"><strong>Loan Duration:</strong></dt>
                <dd>@ViewBag.Search.duration Months</dd>
                <br />
                <dt class="bold-black"><strong>Loan Amount:</strong></dt>
                <dd>@(ViewBag.Search.amount.ToString("C", CultureInfo.CreateSpecificCulture("ng-NG")))</dd>
            </dl>

            <br />
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Months</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Payment</th>
                        <th scope="col">Amount Left</th>
                        <th scope="col">Percentage Paid</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detail in ViewBag.RepaymentDetails)
                    {
                        <tr>
                            <th scope="row">@(ViewBag.Count++)</th>
                            <td>@(detail.Rate)%</td>
                            <td>@detail.MonthlyPayment.ToString("C", CultureInfo.CreateSpecificCulture("ng-NG"))</td>
                            <td>@detail.AmountLeft.ToString("C", CultureInfo.CreateSpecificCulture("ng-NG"))</td>
                            <td>@detail.PercentagePaid.ToString("P")</td>
                        </tr>
                    }
                </tbody>
                <tr>
                    <td colspan="3" class="bold-black">Total Amount Paid</td>
                    <td colspan="2">@ViewBag.TotalAmount.ToString("C", CultureInfo.CreateSpecificCulture("ng-NG"))</td>
                </tr>
            </table>
            @using (@Html.BeginForm("Details","Provider", FormMethod.Post))
            {
                @Html.AntiForgeryToken();
                @Html.Hidden("providerId", @Model.Id);
                <button type="submit" class="btn btn-success btn-block">Access loan</button>
            }
        </div>
    </div>
</div>
