@model AlgoLoan.Models.FormViewModel

@{

    ViewBag.Title = "Home Page";

    var durationOptions = new List<SelectListItem>
{
        new SelectListItem {Text = "1 month", Value = "1"},
        new SelectListItem {Text = "2 months", Value = "2"},
        new SelectListItem {Text = "3 months", Value = "3"},
        new SelectListItem {Text = "4 months", Value = "4"},
        new SelectListItem {Text = "5 months", Value = "5"},
        new SelectListItem {Text = "6 months", Value = "6"},
        new SelectListItem {Text = "7 months", Value = "7"},
        new SelectListItem {Text = "8 months", Value = "8"},
        new SelectListItem {Text = "9 months", Value = "9"},
        new SelectListItem {Text = "10 months", Value = "10"},
        new SelectListItem {Text = "11 months", Value = "11"},
        new SelectListItem {Text = "12 months", Value = "12"}
    };

    var typeOptions = new List<SelectListItem>
{
        new SelectListItem {Text = "Student loan", Value = "studentloan"},
        new SelectListItem {Text = "Individual loan", Value = "individualloan"},
        new SelectListItem {Text = "Business loan", Value = "businessloan"}
    };
}

<!-- banner-text -->
<section class="testimonials pt-5 pb-5 min-vh-80">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="text-left">
                    <div class="home-text">
                        <div class="banner-info">
                            <h3>Need a Loan?</h3>
                            <p>We can get you the absolute best from pool of loan providers. Fill the form Start the process.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="ban-form shadow-lg">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "mt-4" }))
                    {
                        @Html.AntiForgeryToken()
                        ;

                        @Html.TextBoxFor(Model => Model.Amount, new { @class = "form-control", placeholder = "Amount in Naira" })

                        @Html.ValidationMessageFor(Model => Model.Amount, "", new { @class = "text-danger" })

                        @Html.DropDownListFor(Model => Model.Type, typeOptions, new { @class = "form-control" })

                        @Html.LabelFor(Model => Model.Duration, new { @class = "sr-only" })

                        @Html.DropDownListFor(Model => Model.Duration, durationOptions, new { @class = "form-control" })

                        <button type="submit" class="form-control text-uppercase">Start Process</button>
                    }
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>